@charset "utf-8";
*{
    font-family: 'Pacifico', cursive;
    margin: 0px;
    padding: 0px;
}

body{
    background-image:url("../Images/Background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: relative;
    background-position:center;
}

.navBar {
    background-color: rgba(0, 0, 0, 0.9);
    color:#fae;
    display:flex;
    justify-content : center;
    height: 50px;
    align-items: center;
    font-size: 20px;
}

.navBar a{
    color: #fae;
    text-decoration: none;
}
.navBar a:hover {
    color: blueviolet;
    background-color: wheat;
}
.naviList{
    list-style-type:none;
}
.naviList .list-item{
    display: inline-block;
    padding: 20px 10px;
}

.list-logo{
    flex: 1;
}